@font-face {
    font-family: mark;
    src: url('../fonts/Marck_Script/MarckScript-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;      
}
body {
    background-color: #9beb82ce;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F5E2F;
    height: 15vh;
    font-size: 2rem;
    font-family: mark;
}
header > .top-menu>a {
    text-decoration: none;
}
header > .top-menu>a{
    color: white;
}
header > .top-menu>a >h1:hover{
    color: #78DF5A;
}
header > .top-menu>a:visited{
    text-decoration: none;
    color: white;
}
section{
    display: flex;
    justify-content:center;
    align-items: center;
}
.left-card{
    display: none;
    font-family: mark;
    font-size: 3rem;
}
.right-card{
    margin-top: 100px;;
    border-radius: 15px;
    width: 90vw;
    height: 60vh;
    background-color: #2F5E2F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.right-card-top-text{
    padding: 30px;
    color: white;
    font-size: 1.8rem;
    margin-top: 35px;    
    font-family: mark;
}
.right-card-info{
    margin: 5px
}
.right-card-info > input {
    border-radius: 20px;
    margin: 7.5px;
    height: 4vh;
    width: 60vw;
    border: none;
    outline: none;    
    text-indent: 1em;
    box-shadow:  1px 2px 13px -3px rgba(0,0,0,0.44);
}
.right-card-btn > a > input{
    border-radius: 20px;
    height: 5.5vh;
    width: 60vw;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.4rem;
}
.right-card-btn > a>input:hover{
    background-color: #81f55e;
    color: #2F5E2F;
    cursor: pointer;
}
.right-card-checkbox {
    width: 58vw;
}
.right-card-conected {
    padding-left: 0.5rem;
    color: white;
}
.right-card-mpw {
    width: 58vw;
    margin-top: 0.51rem;
    margin-bottom: 4vh;
}
.right-card-checkbox>input:hover{
    cursor: pointer;
}
.right-card-mpw > p {
    color: white;
}
.right-card-mpw > p > span {
    color: #78DF5A;
    cursor: pointer;
}
@media (min-width:768px){
    .left-card{
        display: flex;
        margin-top: 100px;;
        border-radius: 15px 0 0 15px;
        width: 30vw;
        height: 60vh;
        background-color: #2F5E2F;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-card-text{
        font-size: 2.8rem;
        color: white;
        text-align: center;
        font-weight: 600;
    }
    .left-card-text > span {
        color: #78DF5A;
    }
    .right-card{
        border-radius: 0 15px 15px 0;
        width: 35vw;
    }
    .right-card-info > input {
        width: 30vw;
    }
    .right-card-btn >a > input{
        width: 30vw;
    }
    .right-card-checkbox{
        width: 27.5vw;
    }
    .right-card-mpw{
        width: 27.5vw;
    }
    .right-card-top-text{
        font-size: 2.4rem;
    }

}
